html {
    height: 100%;
    width: 100%;
  }
 h1 {
    text-align: center;
    color: darkcyan
 } 
  #board {
    margin: auto;
    display: flex;
    width: 80vmin;
  /* vmin - calculates the percentage of the shortest side of your viewport */ 
    flex-wrap: wrap;
    gap: 1vmin;
  }
  #button {
    color: darkcyan
  }
  
  .square{
    width: 25vmin;
    height: 25vmin;
    border: 1px solid darkcyan
  }